.dropdown-menu {
    display: none;
    width: 153px;
    height: 162px;
    font-size: 14px;
    background-color: var(--AlWhite);
    position: absolute;
    z-index: 1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 26px 24px;
    top: calc(100% + 20px);
    right: 0;
    
}

.dropdown-menu a {
    display: inline-flex;
    margin-bottom: 14px;
}

.dropdown-menu.-company {
    display: none;
    width: 112px;
    height: 131px;
    padding: 23px;
    right: -30px;
}

.dropdown-menu-link {
    color: var(--MediumGray);
    text-decoration: none;
}

.dropdown-menu-link:hover {
    color: var(--AlBlack)
}

.dropdown-menu-icon {
    width: 14px;
    height: 16px;
    margin-right: 13px;
}

.show {
    display: block;
}  
