.main-section {
    box-sizing: border-box;
    /* width: auto; */
    height: 648px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.main-section .hero-image {
    width: 480px;
    height: 640px;
}