@media (max-width: 1200px) {
    
}

@media (max-width: 1024px) {
    .main-section {
        padding: 30px;
    }

    .wrapper-section {
        padding: 20px;
    }

    .main-title {
        font-size: 6.3rem;
        margin-top: 70px;
    }

    .main-subtitle {
        font-size: 1.7rem;
    }

    

    .main-section .hero-image {
        width: 380px;
        height: 500px;
    }

    .main-section .wrapper-hero {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 955px) {
    .wrapper-section {
        padding: 0;
    }

    .main-title {
        font-size: 6rem;
    }

    .logo-section {
        padding-right: 20px;
    }

    .main-section .hero-image {
        width: 320px;
        height: 450px;
    }
}

@media (min-width: 768px) {
    .wrapper-hero .hero-image-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-section { 
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .main-title {
        margin-top: 50px;
        text-align: center;
        width: auto;
        height: auto;
    }

    .main-subtitle {
        width: auto;
        height: auto;
        text-align: center;
        margin: 40px 0 40px 0;
    }

    .wrapper-section .main-button {
        margin-left: auto;
        margin-right: auto;
    }

    .logo-section {
        margin-top: 60px;
        padding: 0;
    }

    .wrapper-hero {
        order: -1;
        justify-content: center;
    }

    .hero-image-mobile {
        width: 570px;
        height: 350px;
    }

    .hero-image {
        display: none;
    }
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}