@media (max-width: 1200px) {
    
}

@media (max-width: 1024px) {
    .main-section {
        padding: 30px;
    }

    .wrapper-section {
        padding: 20px;
    }

    .main-title {
        font-size: 6.3rem;
        margin-top: 70px;
    }

    .main-subtitle {
        font-size: 1.7rem;
    }

    

    .main-section .hero-image {
        width: 380px;
        height: 500px;
    }

    .main-section .wrapper-hero {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 955px) {
    .wrapper-section {
        padding: 0;
    }

    .main-title {
        font-size: 6rem;
    }

    .logo-section {
        padding-right: 20px;
    }

    .main-section .hero-image {
        width: 320px;
        height: 450px;
    }
}

@media (min-width: 768px) {
    .wrapper-hero .hero-image-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-navbar {
        justify-content: space-between;
        align-items: center;
    }

    .navbar-container {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #000;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 11;
    }

    .navbar-container.on {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;

        width: 240px;
        height: 100vh;

        background-color: #fff;
        z-index: 10;
    }

    .navbar-container.on .menu-toggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .navbar-container.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .navbar-container.on .menu-toggle .two {
        opacity: 0;
    }

    .navbar-container.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .navbar-container.on .navbar-navigation {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 80px;
        gap: 15px;
    }

    .navbar-container.on .navbar-action {
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 10px;
        margin-top: 40px;
    }

    .navbar-dropdown.-action-button {
        width: 100%;
    }

    .dropdown-menu.on {
        box-shadow: none;
        position: relative;
        height: 140px;
        padding: 22px;
    }

    .dropdown-menu.-company.on {
        right: 0;
    }

    .navbar-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .main-section { 
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .main-title {
        margin-top: 50px;
        text-align: center;
        width: auto;
        height: auto;
    }

    .main-subtitle {
        width: auto;
        height: auto;
        text-align: center;
        margin: 40px 0 40px 0;
    }

    .wrapper-section .main-button {
        margin-left: auto;
        margin-right: auto;
    }

    .logo-section {
        margin-top: 60px;
        padding: 0;
    }

    .wrapper-hero {
        order: -1;
        justify-content: center;
    }

    .hero-image-mobile {
        width: 100%;
        height: 350px;
    }

    .hero-image {
        display: none;
    }
}

@media (max-width: 480px) {
    .hero-image-mobile {
        width: 440px;
        height: 320px;
    }
}

@media (max-width: 375px) {
    .main-section {
        padding: 10px;
    }

    .main-title {
        font-size: 3.5rem;
        margin-top: 70px;
    }

    .main-subtitle {
        font-size: 1.7rem;
        line-height: 2rem;
        margin: 40px 0 70px 0;
    }

    .logo-section-item {
        width: 80px;
    }

    .hero-image-mobile {
        width: 360px;
        height: 350px;
    }
}